
___
# Ecommerce Purchases

In this dataset you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.



**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.

In [1]:
import pandas as pd

In [3]:
ecom = pd.read_csv("Ecommerce Purchases")

**Check the head of the DataFrame.**

In [5]:
ecom.head(n=3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

** How many rows and columns are there? **

In [92]:
ecom.shape

(10000, 15)

** What is the average Purchase Price? **

In [7]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [8]:
ecom['Purchase Price'].max()

99.99

In [9]:
ecom['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [20]:
ecom['Language'].value_counts()['en']

1098

** How many people have the job title of "Lawyer" ? **

In [22]:
ecom['Job'].value_counts()['Lawyer']

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [23]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [31]:
ecom['Job'].value_counts().head(n=5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [40]:
 ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [44]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [48]:
len(ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)])

39

** How many people have a credit card that expires in 2025? **

In [84]:
## ecom['CC Exp Date'][0][3:]

'20'

In [91]:
len(ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:] == '25')])

1033

** What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [78]:
## ecom['Email'][0].split("@")[1]

'yahoo.com'

In [81]:
ecom['Email'].apply(lambda email: email.split("@")[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64